{{> head}}
{{> navbar}}
<div class="row container  ">
    <div class="col-8 border border-black ">
        <h2>
            Sobre nosotros!
        </h2>
        <p class="text-monospace text-justify ">

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem eos dolor corrupti recusandae,
            tenetur nesciunt perspiciatis vel quae perferendis facilis reiciendis repellendus explicabo voluptate soluta
            aspernatur minima amet mollitia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem eos
            dolor corrupti recusandae,
            tenetur nesciunt perspiciatis vel quae perferendis facilis reiciendis repellendus explicabo voluptate soluta
            aspernatur minima amet mollitia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem eos
            dolor corrupti recusandae,
            tenetur nesciunt perspiciatis vel quae perferendis facilis reiciendis repellendus explicabo voluptate soluta
            aspernatur minima amet mollitia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quidem eos
            dolor corrupti recusandae,
            tenetur nesciunt perspiciatis vel quae perferendis facilis reiciendis repellendus explicabo voluptate soluta
            aspernatur minima amet mollitia.

        </p>
    </div>

    <div class="col-4 ">
        <img class="img-thumbnail" src="assets/img/about.png" alt="No se pudo cargar la imagen">
    </div>
</div>

{{> footer}}